_build/
_static/
_templates/
__pycache__/
.idea/
sandbox/
/data/hsls_09_school_v1_0.csv
/data/hsls_16_student_v1_0.csv
*.bat
Makefile
conf.py
index.rst
main.py
*.ipynb
.idea/*
./src/helper.ipynb
.pytest_cache
/dash*
/foo*
.vscode/
.coverage
src/teste.py